.appbar {
  background-color: rgb(230, 230, 230);
  color: black;
}

.darkAppbar {
  color: white;
  background-color: rgb(30, 30, 30);
}

.button {
  background-color: inherit;
  padding-left: 20px;
  padding-right: 20px;
}

.rightToolbar {
  margin-left: auto;
}

.title {
  font-size: 15px;
  letter-spacing: 0px;
  color: inherit;
}
