.container {
  margin: 30px;
  max-width: 1000px;
}

.darkContainer {
  margin: 30px;
  max-width: 1000px;
  background-color: rgb(30, 30, 30);
  color: white;
}

.title {
  text-decoration: underline;
}
